#index {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 20rem;

    background-color: var(--bg-cards);
    border-radius: 30px;
    box-shadow: 0 4px 8px #584d57;
}   

#username {
    margin: 1rem;
}

.campo {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    gap: 1rem;
}

#nome {
    border-radius: 30px;
    border: 2px solid #d5d0d0;
    height: 1.3rem;
    padding: 0.5rem;
}

#startGame {
    margin-bottom: 1rem;
}