#jogarNovamente {
	display: none;
}

.board{
	display: grid;
	grid-template-columns: repeat(3, 120px);
	gap: 20px;
}

.card{
	height: 80px;
}

.card.selecionado{
	background: #800080;
}

#voltar {
    margin: 1rem;
}